#modo{
    width: 30px;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
}

.dark .btn{
    padding:.7rem 3rem;
    background:var(--blue);
    color:rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.dark #modo{
    color: rgb(0, 0, 0);
}

.dark .heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.267);
    color:rgb(0, 0, 0);
}

/*lado derecho*/

/*home*/
.dark .home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
    background: #e4e4e4;
}

.dark .home h3{
    font-size: 2.5rem;
    color:rgb(0, 0, 0);
}

.dark .home h1{
    color: rgb(0, 0, 0);
}

.dark .home h3{
    font-size: 2.5rem;
    color:rgb(0, 0, 0);
}

.dark .home h1{
    font-size:5rem;
    color:rgb(0, 0, 0);
}

.dark .home h1 span{
    color:var(--blue);
}

.dark .home p{
    font-size:2rem;
    color:rgb(0, 0, 0);
    padding: 1rem 0;
}
/**/

/*about*/

.dark .about{
    background: #e4e4e4;
}

.dark .about .heading{
    color: rgb(0, 0, 0);
}

.dark .about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--blue);
    padding:1rem 0;
    font-weight: normal;
}

.dark .about .row .info h3 span{
    color:rgb(0, 0, 0);
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dark .about .row .counter .box{
    width:20rem;
    background:#e4e4e4;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.dark .about .row .counter .box span{
    font-size: 4rem;
    color:var(--blue);
}

.dark .about .row .counter .box h3{
    font-size: 2rem;
    color:rgb(0, 0, 0);
}

/**/

/*education*/

.dark .education{
    background: #e4e4e4;
}


.dark .education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid rgb(255, 255, 255);
    position: relative;
}

.dark .education .box-container .box span{
    font-size: 1.3rem;
    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.dark .education .box-container .box h3{
    font-size: 2rem;
    color:rgb(0, 0, 0);
    padding-top: 1.5rem;
}

.dark .education .box-container .box p{
    font-size: 1.4rem;
    color:rgb(0, 0, 0);
    padding: 1rem 0;
}

.dark .education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--blue);
}

/**/

/*portfolio*/

.dark .portfolio{
    background: #e4e4e4;
}

/**/

/*contact*/

.dark .contact{
    background: #e4e4e4;
}

.dark .contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:rgb(0, 0, 0);
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.dark .contact .row form .box::placeholder{
    text-transform: capitalize;
}

.dark .contact .row form .message{
    height: 15rem;
    resize: none;
}

.dark .contact .row .content .title{
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.dark .contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:rgb(0, 0, 0);
    padding:1rem 0;
    font-weight: normal;
}

/**/

/*lado izquierdo*/

.dark header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.dark header .user .name{
    font-size: 3.5rem;
    color:rgb(0, 0, 0);
}

.dark header .user .post{
    font-size: 2rem;
    color:rgb(0, 0, 0);
}

.dark header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:var(--blue);
    color:rgb(255, 255, 255);
    font-size: 2rem;
    border-radius: 5rem;
}

.dark header .navbar ul li a:hover{
    background:var(--blue);
}
